@model WebApp.ViewModels.AddressViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*Create a partial view to make easy to setup both create and edit*@
    @Html.Partial("~/Views/Addresses/_CreateEditPartial.cshtml")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
